<DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >  
        <link rel="stylesheet" href="main.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">         
    </head>

    <body>
        <ul>
            <a href="#index.html">Home</a>
            <a href="#halloffame">Hall Of Fame</a> 
        </ul>

        <div class="background">
            <div class="chatt">

            </div>
            <div class="notis">
                Notifications
            </div>
            <div class="users-online">
                Online users
            </div>
        </div>
    </body>
</html>